.product-screen {
  max-width: 1300px;
  margin: 1rem;
  justify-content: center;
  display: flex;
}

.product-screen__left {
  display: flex;
  flex: 0.8;
}

.left__image {
  margin: 1rem;
  flex: 0.6;
}

.left__info {
  margin: 1rem;
  flex: 0.4;
  background: #fff;
  height: fit-content;
}

.left__name {
  font-weight: bold;
  font-size: 1.3rem;
}

.left__info > p, 
.right__info > p {
  padding: 1rem;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.left__info > p:last-child,
.right__info > p:last-child {
  border: none;
}

.product-screen__right {
  flex: 0.2;
  width: 100%;
}

.right__info {
  width: 250px;
  margin: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.right__info p {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.right__info p > button {
  grid-column: 1/-1;
  padding: 10px 16px;
  background: #171717;
  color: #f4f4f4;
  cursor: pointer;
  border: 1px solid black;
}

.right__info select {
  padding: 10px 16px;
}

@media (max-width: 960px) {
  .product-screen {
    flex-direction: column;
  }

  .product-screen__left {
    flex-direction: column;
  }

  .left__image,
  .left__info,
  .product-screen__left,
  .right__info {
    flex: 1;
  }

  .product-screen__right {
    padding-right: 2rem;
  }

  .right__info {
    width: 100%;
  }
}