.cart-item {
  width: 100%;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  background: #fff;
  border-radius: 2px;
  place-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
  border-radius: 10px;
}

.cart-item__name {
  text-decoration: none;
  color: #171717;
}

.cart-item__name:hover {
  color: #dd219e;
}

.cart-item__select {
  padding: 10px 16px;
}

.cart-item__delete-btn {
  padding: 10px 16px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  border: none;
  background: #fff;
}

.cart-item__delete-btn:hover,
.cart-item__delete-btn:focus,
.cart-item__delete-btn:active {
  background: #fff;
  border: none;
}

@media (max-width: 700px) {
  .cart-item__name {
    font-size: 0.8;
  }

  .cart-item__select,
  .cart-item__delete-btn {
    padding: 8px 13px;
  }

  .cart-item__price {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .cart-item__name {
    font-size: 0.6;
  }

  .cart-item__select,
  .cart-item__delete-btn {
    padding: 5px 8px;
  }

  .cart-item__price {
    font-size: 0.6rem;
  }
}